bin
obj
build
out
lib
.gradle
*.iml
*.ipr
*.iws
*~
*.user
*.suo
_ReSharper.*
gradle.properties
.DS_Store
UnityProject/Library/
UnityProject/Temp/
UnityProject/Assets/Scripts/
UnityProject/Assets/Scripts.meta
UnityProject/Assembly*
UnityProject/UnityProject*